@charset "utf-8";

/*global elements*/
body, h1, h2, h3, ul, p, figure {
	margin: 0;
	padding: 0;
}
ul {
	list-style: outside none none;
}
a {
	text-decoration: none;
}

.hidden {
	display: none;
}

/*navigation bar*/
#header {
	width: 100%;
	height: 70px;
	min-width: 1263px;
	background-color: #333;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
	z-index: 1;
	position: relative;
}
#header .center {
	width: 1263px;
	height: 70px;
	margin: 0 auto;
}
#header .logo {
	width: 240px;
	height: 70px;
	background: url(../img/logo.png) no-repeat;
	text-indent: -9999px;
	float: left;
}
#header .link {
	width: 650px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	float: right;
}
#header .link li {
	width: 120px;
	float: left;
}
#header .link a {
	color: #eee;
	display: block;
}
#header .link a:hover,
#header .active a {
	background-color: #000;
}

/*footer of partner, faq, contact and copyright*/
#footer {
	height: 350px;
	background-color: #222;
}
#footer .top {
	width: 1263px;
	height: 280px;
	margin: 0 auto;
	text-align: center;
}
#footer .bottom {
	height: 70px;
	background-color: #000;
	color: #777;
	text-align: center;
	line-height: 70px;
	border-top: 1px solid #444;
}
#footer .top .column {
	width: 410px;
	height: 280px;
	display: inline-block;
	text-align: left;
	color: #ccc;
	vertical-align: top;
}
#footer .top h2 {
	font-weight: normal;
	padding: 20px 0 0 20px;
}
#footer .top hr {
	width: 90%;
	border: 1px dashed #333;
}
#footer .top ul {
	font-size: 18px;
	color: #777;
	text-indent: 20px;
	line-height: 2;
}
#footer .top a {
	color: #ccc;
}