@charset "utf-8";
/*headline*/
#headline {
	width: 100%;
	height: 300px;
	min-width: 1263px;
	background: linear-gradient(to right bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.0)), 
	url(../img/headline.jpg) no-repeat center;
}
#headline .center {
	width: 1263px;
	height: 300px;
	margin: 0 auto;
}
#headline hgroup {
	padding: 100px 0 0 50px;
	color: #eee;
	letter-spacing: 1px;
}
#headline hgroup h2 {
	font-size: 36px;
}
#headline hgroup h3 {
	font-size: 20px;
}
/*mainbody*/
#container {
	width: 1263px;
	margin: 30px auto;
}
/*siderbar*/
#container .sidebar {
	width: 340px;
	float: right;
}
#container .sidebar .side {
	border: 1px solid #eee;
	margin-bottom: 10px;
	text-align: center;

}
#container .sidebar h2 {
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 1px;
	text-indent: 8px;
	height: 40px;
	line-height: 40px;
	background-color: #fafafa;
	color: #666;
	text-align: left;
}
#container .sidebar .tag {
	margin: 10px 0;
}
#container .tag li {
	display: inline-block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	background-color: #eee;
	color: #999;
	margin: 2px 0;
	text-align: left;
	text-indent: 8px;
}
#container .tag a {
	display: block;
	color: #999;
}
#container .tag a:hover {
	background-color: #458b00;
	color: #fff;
}
#container .figure {
	padding: 10px 0;
}
#container .figure figure {
	display: inline-block;
	color: #666;
	padding: 4px;
}
#container .sidebar .tool {
	margin: 10px 0;
}
#container .tool li {
	display: inline-block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-indent: 35px;
	background-color: #eee;
	color: #999;
	margin: 2px 0;
	text-align: left;
}
#container .tool a {
	display: block;
	color: #999;
}
#container .tool a.tool1 {
	background: url(../img/tool1.png) no-repeat 10px center;
}
#container .tool a.tool2 {
	background: url(../img/tool2.png) no-repeat 10px center;
}
#container .tool a.tool3 {
	background: url(../img/tool3.png) no-repeat 10px center;
}
#container .tool a.tool4 {
	background: url(../img/tool4.png) no-repeat 10px center;
}
/*List of Special tours*/
#container .list {
	width: 910px;
	float: left;
}
#container .list .tab {
	height: 45px;
	line-height: 45px;
	background-color: #eee;
	margin-bottom: 20px;
}
/*sale*/
#container .list .sale {
	float: left;
}
#container .sale li {
	display: inline-block;
	width: 150px;
	height: 43px;
	line-height: 43px;
	text-align: center;
}
#container .sale li:first-child,
#container .sale li:hover {
	background-color: #fff;
	border-top: 2px solid #458b00;
	position: relative;
	left: 1px;
}
#container .sale a {
	color: #666;
	display: block;
}
/*sort*/
#container .list .sort {
	padding: 0 20px 0 0;
	display: inline-block;
	float: right;
}
#container .sort li {
	display: inline-block;
	width: 60px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
#container .sort a {
	color: #666;
	padding: 5px 10px;
}
#container .sort a.selected, 
#container .sort a:hover {
	background-color: #458b00;
	color: #fff;
}
/*figure of tours*/
#container .tour {
	width: 908px;
	height: 230px;
	margin: 0 0 20px 0;
	border: 1px solid #eee;
	position: relative;
}
#container .tour img {
	float: left;
}
#container .tour figcaption {
	width: 528px;
	height: 230px;
	float: right;
}
#container .tour hgroup {
	width: 300px;
}
#container .tour h2 {
	color: #333;
	font-weight: normal;
	padding: 10px 0 10px 25px;
}
#container .tour h3 {
	font-weight: normal;
	line-height: 1.5;
	color: #666;
	padding: 10px 0 10px 25px;
}
#container .tour ol {
	padding: 0 0 0 25px;
	line-height: 2;
	color: #666;
}
#container .tour mark {
	display: inline-block;
	width: 40px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	background-color: #fff;
	color: #458b00;
	border: 1px solid #458b00;
	border-radius: 4px;
	padding: 4px;
}
#container .tour .buy {
	position: absolute;
	top: 55px;
	right: 30px;
}
#container .tour .price {
	color: #f60;
	font-size: 20px;
}
#container .tour strong {
	font-size: 36px;
}
#container .tour s {
	color: #999;
	font-size: 16px;
}
#container .tour .book {
	margin-top: 10px;
}
#container .tour .book a {
	display: block;
	width: 152px;
	height: 40px;
	line-height: 40px;
	background-color: #f60;
	color: #fff;
	font-size: 20px;
	border-radius: 4px;
	text-align: center;
}
#container .tour .type {
	width: 80px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	background-color: #59b200;
	color: #fff;
	border-bottom-right-radius: 4px;
	position: absolute;
	top: 0;
	left: 0;
}
#container .tour .disc {
	position: absolute;
	top: 0;
	right: 0;
	width: 52px;
	height: 52px;
	background: url(../img/disc.png) no-repeat;
}
#container .tour .disc span {
	display: block;
	transform: rotate(45deg);
	width: 52px;
	height: 52px;
	padding: 10px 0 0 0;
	font-size: 14px;
	color: #f50;
}
#container .tour footer {
	width: 528px;
	height: 30px;
	line-height: 30px;
	color: #666;
	text-indent: 25px;
	background-color: #fafafa;
	position: absolute;	
	bottom: 0;
}
#container .tour time {
	color: #458b00;
}
#container .more {
	width: 200px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
	background-color: #fafafa;
	color: #333;
	font-size: 20px;
	cursor: pointer;
}

/*flight*/
#container .flight {
	width: 910px;
	color: #666;
	font-size: 20px;
	float: left;
}
#container .flight h2 {
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #999;
	padding-bottom: 15px;
}
#container .flight .ftype {
	margin: 20px 0 10px 0;
}
#container .flight .ftype mark {
	background-color: #458b00;
	padding: 5px 8px;
	color: #fff;
	border-radius: 4px;
	margin: 0 10px 0 16px;
}
#container .flight .location {
	display: inline-block;
	width: 40%;
}
#container .flight .location label {
	display: inline-block;
	width: 42px;
}
#container .flight .date {
	display: inline-block;
	width: 42%;
}
#container .flight .schbtn {
	display: inline-block;
	width: 10%;
}
#container .flight p {
	line-height: 3;
}
#container .flight input {
	width: 250px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 18px;
	color: #666;
	background-color: #fff;
	padding: 5px;
	margin-left: 5px;
}
#container .flight .schfly {
	display: block;
	cursor: pointer;
	background-color: #f60;
	color: #fff;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	border-radius: 4px;
	font-size: 20px;
	border: none;
	position: relative;
	top: 8px;
}
#container .flight .latest {
	margin-top: 20px;
}
#container .flight ul {
	margin-top: 20px;
}
#container .flight li {
	display: inline-block;
	padding: 5px;
}
#container .flight li:first-child {
	padding-left: 0;
}
#container .flight li:nth-child(2) {
	background-color: #458b00;
	color: #fff;
	border-radius: 4px;
}
#container .flight table {
	margin-top: 20px;
	width: 100%;
	border: 1px solid #ddd;
	text-align: center;
	border-collapse: collapse;
}
#container .flight tr {
	height: 50px;
	line-height: 50px;
	border: 1px solid #ddd;
}
#container .flight tr:nth-child(2n) {
	background-color: #fafafa;
}
#container .flight tr:hover {
	background-color: #eee;
}
#container .flight .price {
	color: #f60;
}
#container .flight a {
	display: inline-block;
	background-color: #f60;
	color: #fff;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 4px;
}






