@charset "utf-8";
/*global*/
html {
	font-size: 625%;
}
body, h1, h2, h3, h4, ul, ol, p, form, figure {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .16rem;
}
ul, ol {
	list-style: outside none none;
}
a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%;
}
div, figure, figcaption {
	box-sizing: border-box;
}
.hidden {
	display: none;
}
.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/*header*/
#header {
	width: 100%;
	height: .45rem;
	background-color: #333;
	position: fixed;
	z-index: 99;
	top: 0;
}
#header .link {
	height: .45rem;
	line-height: .45rem;
	text-align: center;

}
#header .link li {
	width: 25%;
	float: left;
}
#header .link a {
	color: #eee;
	display: block;
}
#header .link a:hover,
#header .active a {
	background-color: #000;
}
#adver {
	max-width: 6.4rem;
	margin: 0 auto;
	padding-top: .45rem;
}

/*footer*/
#footer {
	max-width: 6.4rem;
	background-color: #222;
	color: #777;
	margin: 0 auto;
	text-align: center;
	padding: .1rem 0;
	font-size: 0.16rem;
	clear: both;

}
#footer .top {
	padding: 0 0 .05rem 0;
}

/*search*/
#search {
	max-width: 6.4rem;
	height: .33rem;
	margin: 0 auto;
	background-color: #ddd;
	padding: .03rem 0 0 0;
	position: relative;
}
#search .search {
	width: 95%;
	height: .27rem;
	border-radius: .04rem;
	border: none;
	outline: none;
	background-color: #fff;
	display: block;
	margin: 0 auto;
	font-size: .14rem;
	padding: 0 .05rem;
}
#search .button {
	display: block;
	outline: none;
	cursor: pointer;
	width: .5rem;
	height: .27rem;
	color: #666;
	background-color: #eee;
	border-top-right-radius: .04rem;
	border-bottom-right-radius: .04rem;
	position: absolute;
	top: .03rem;
	right: 1%;
}

/*popular tours*/
#tour {
	max-width: 6.4rem;
	margin: .1rem auto 0 auto;
}
#tour h2 {
	text-align: center;
	font-size: .26rem;
	color: #666;
	padding-bottom: .1rem;
}
#tour h3 {
	text-align: center;
	font-size: .16rem;
	color: #666;
	margin: .05rem 0 .1rem 0;
}
#tour figure {
	width: 50%;
	float: left;
	background: #eee;
	font-size: .16rem;
	padding: 0 0 .05rem 0;
}
#tour figure img {
	padding: .02rem;
	border-radius: .05rem;
}
#tour figcaption {
	color: #666;
	padding: .02rem .05rem;
}
#tour figcaption h4 {
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tour figcaption p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tour .info {
	font-size: .16rem;
	padding: .1rem 0 0 0;
}
#tour .info .sat {
	color: #999;
	font-style: normal;
	float: right;
}
#tour .info .price {
	color: #f60;
}

/*tours.html*/
#headline {
	max-width: 6.4rem;
	margin: 0 auto;
	padding-top: .45rem;
	position: relative;
}
#headline hgroup {
	position: absolute;
	top: 45%;
	left: 10%;
	color: #eee;
}
#headline hgroup h2 {
	font-size: .22rem;
}
#headline hgroup h3 {
	font-size: .16rem;
}
.list {
	font-size: .16rem;
	max-width: 6.4rem;
	margin: .15rem auto;
	color: #666;
	padding: 0 .1rem;
}
.list h2 {
	font-size: .2rem;
	border-bottom: .01rem dashed #999;
	padding-bottom: .15rem;
}
.about p {
	line-height: 1.5;
	margin: .15rem 0;
}
.about address {
	line-height: 1.5;
	margin: .15rem 0;
	font-style: normal;
}


	/*media query between 480px and 640px, which is normal device size*/
@media (min-width: 480px) and (max-width: 640px) {
	#tour h2 {
		font-size: .26rem;
	}
	#tour h3, #footer, #tour figcaption, #tour .info  {
		font-size: .16rem;
	}
	#headline hgroup h2 {
		font-size: .22rem;
	}
	#headline hgroup h3 {
		font-size: .16rem;
	}

}
	/*media query less than 480px*/
@media (max-width: 480px) {
	#tour h2 {
		font-size: .20rem;
	}
	#tour h3, #footer, #tour figcaption, #tour .info {
		font-size: .14rem;
	}
	#headline hgroup h2 {
		font-size: .18rem;
	}
	#headline hgroup h3 {
		font-size: .14rem;
	}

}


